@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&family=Poppins:wght@100;300&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: aliceblue;
}
h1 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-weight: 200;
}
.hidden {
  display: none;
}
.day {
  margin: 20px;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
  width: 85px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}
.hour {
  margin: 20px;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
  width: 85px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}
.hourly {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
}
.ten-day {
  display: grid;
  grid-auto-flow: column;
  overflow: auto;
}
.temp {
  font-size: 35px;
}
.conditon {
  font-size: 20px;
}
.p {
  height: 10px;
}
.current {
  margin: 20px;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  width: fit-content;
  display: grid;
  justify-content: center;
  background-color: white;
  font-size: 40px;
}
.current h3 {
  margin: 0;
}
